section#contact-info {
  font-size: .8em;
}

section#work-experience {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}
ul.accomplishment{
  font-size: .8em;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: pink;
}

ol > li {
    background-color: pink;
}
